/* styles.css */

.page {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: #f5f5f5;
}

.sidebar {
    height: 100vh;
    width: 18vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
    box-sizing: border-box;
}

.sidebar .logo {
    width: 50px;
    margin: 32px;
}

.sidebar .tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
}

.main {
    height: 100vh;
    width: 82vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    overflow-y: scroll;
}

.main .header {
    font-size: 40px;
    font-weight: 400;
    color: #555;
    margin: 16px;
}

.main .title-filter {
    height: 20px;
    width: 70vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 4px;
}

.main .title-filter .title {
    font-size: 24px;
    color: #555;
}

.main .title-filter .filter-field {
    height: 20px;
    display: flex;
    justify-content: center;
}

.main .title-filter .filter-field .filter-icon {
    height: 20px;
    margin: 0 8px;
}

.main .add-task {
    /* Add Task Styles */
}